{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container pt-3">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/media/images/home-arts.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="static/media/images/home-crafts.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="static/media/images/home-football.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="static/media/images/home-rugby.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="container text-center pt-3">
            <h1>Welcome to College Connect</h1>
            <p class="pt-3"> Discover opportunities to engage, connect, and thrive within our vibrant campus community.
                Whether you're eager
                to explore new interests, deepen your passions, or simply connect with like-minded individuals, this is
                your
                gateway to it all. Join dynamic student clubs and organizations spanning a wide array of interests, from
                academic pursuits to cultural celebrations and everything in between. With easy registration and
                seamless
                communication, find your tribe!</p>
        </div>
    </div>

    {% endblock %}