{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="event-info mt-3 p-1">
        <div class="event-img">
            <img src="{{ post.image.url }}" alt="{{ post.image_alt }}" class="event-pic">
        </div>
        <div class="event-detail">
            <h1 class="text-center ">{{ post.title }}</h1>
            <p class="text-center ">Posted by {{ post.user }} on {{ post.created_on }}</p>
            <hr>
            <p>{{ post.categories }}</p>
            <p>{{ post.excerpt }}</p>
            <p>{{ post.description }}</p>
            {% if request.user == post.user %}
            <!--
            <div class="text-center">
                <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary w-25 ">Edit</a>
                <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-primary w-25 ">Delete</a>
            </div>
            -->
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}