{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    <div class="navbar">
        <button class="button btn-bt-success">Profile Picture</button>
        <button class="button btn-bt-success">Add Event</button>
        <button class="button btn-bt-success">Liked Events</button>
        <button class="button btn-bt-success">Your Comments</button>
        <button class="button btn-bt-success">Your Event</button>
        <button class="button btn-bt-success">Liked Clubs</button>
</body>

{% endblock %}